$bg-color: lightcyan;
$title-color: rgb(170, 43, 255);
$top-bottom-spacing-20: 20px 0px;
$font-size-L: 4rem;
$font-size-M: 2rem;
$font-size-S: 1rem;

* {
    padding: 0;
    margin: 0;
}

.bg-color {
    background-color: $bg-color;
}

.greeting {
    color: $title-color;
    text-align: center;
    padding: $top-bottom-spacing-20;
    font-size: $font-size-M;
}